<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="{{ urlTo('style.css') }}">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {% if self %}
    <a href="{{ urlTo('') }}">my timeline</a> |
    <a href="{{ urlTo('public') }}">public timeline</a> |
    <a href="{{ urlTo('logout') }}">sign out [{{ self.username }}]</a>
  {% else %}
    <a href="{{ urlTo('public') }}">public timeline</a> |
    <a href="{{ urlTo('register') }}">sign up</a> |
    <a href="{{ urlTo('login') }}">sign in</a>
  {% endif %}
  </div>
  {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    MiniTwit v0.6.1
  </div>
</div>
