{% extends "templates/layout.html" %}
{% block title %}
  {% if endpoint == '/public' %}
    Public Timeline
  {% elif endpoint.includes('/user') %}
    {{ profile_user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  <h2>Timeline</h2>
  {% if self %}
    {% if endpoint.includes('/user') %}
      <div class=followstatus>
      {% if self.user_id == profile_user.user_id %}
        This is you!
      {% elif following %}
        You are currently following this user.
        <a class=unfollow href="{{ urlTo(profile_user.username + '/unfollow')
          }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="{{ urlTo(profile_user.username + '/follow')
          }}">Follow user</a>.
      {% endif %}
      </div>
    {% elif endpoint == '/' %}
      <div class=twitbox>
        <h3>What's on your mind {{ self.username }}?</h3>
        <form action="{{ urlTo('addMessage') }}" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class=messages>
  {% for message in tweets %}
    <li><img src="{{ message.email|gravatar(size=48) }}"><p>
      <strong><a href="{{ urlTo('user/' + message.username)
      }}">{{ message.username }}</a></strong>
      {{ message.text }}
      <small>&mdash; {{ message.pub_date|datetimeformat }}</small>
  {% else %}
    <li><em>There's no message so far.</em>
  {% endfor %}
  </ul>
{% endblock %}
